@media (max-width : 768px) {
    .aos-init, .aos-init.aos-animate {
        opacity: 1 !important;
        -o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;
        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }
    [data-aos][data-aos][data-aos-duration="400"], body[data-aos-duration="400"] [data-aos] {
        transition-duration: 0s !important;
    }
}