$white: white;
$black: black;
$input-red: #FF0000;
$menu-pink: #ffa2a6;
$cornflower-blue-scrolltop: #a299f44d;
$cornflower-blue-scrolltop-hover: #a299f420;

$cornflower-blue-lighter: #a299f433;
$cornflower-blue-light: #a299f4;
$cornflower-blue: #7f77ff;
$cornflower-blue-dark: #7f72f0;

$tomato-light: #ffb8b8;
$tomato: #ffb9b9;
$tomato-dark: #e07070;

$lavender-light: #EDE1F2;
$lavender: #bb6be1;

$concrete: #F2F2F2;
$mercury-light: #ebebeb;
$mercury: #dedcdc;
$dusty-gray: #959595;
$gray: #8e8e8e;

$dropshadow-grey: #00000026;
$dropshadow-grey-dark: #00000040;
$dropshadow-transparent: #00000000;